@font-face {
    font-family: "Analog Whispers";
    src: url("fonts/AnalogWhispers.ttf") format("truetype");
    font-display: swap;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #F3F3F3;
    overflow-y: auto; /* allows vertical scrolling */
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#name {
    width: 200px;
    height: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    cursor: pointer;
    transform-origin: center;
}

nav {
    background: #F3F3F3;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.navbar {
    list-style: none;
    margin: 0;
    padding-top: 10px;
    display: inline-flex;
    gap: 20px;
}

.navbar li a {
    text-decoration: none;
    font-family: "Analog Whispers", serif;
    font-size: 24px;
}

.home-link {
    color: #098956;
}
.portfolio-link {
    color: #EFCC2D;
}
.contact-link {
    color: #0130A5;
}

.navbar li a:hover {
    color: #8E8D93;
}

.about-box {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #F3F3F3;
    border: 5px solid #424242;
    text-align: center;
    color: #424242;
    font-family: "Analog Whispers", serif;
}

.about-box h2 {
    margin-top: 0;
    font-size: 24px;
}

.about-box p {
    font-size: 16px;
    line-height: 1.5;
}

/* Button styles */
.button-box {
    text-align: center;
    margin: 80px auto;
}

.button-box fieldset {
    display: inline-block;
    padding: 20px;
    border: 5px solid #424242;
    background: #ffffff;
}

.toggle-span {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-family: "Analog Whispers", serif;
    font-size: 16px;
    cursor: pointer;
    border: 5px solid #424242;
    background: #F3F3F3;
}

.toggle-span:hover {
    background: #8E8D93;
}

/* Buttons when toggled change color */
.toggle-span.on {
    border-color: #098956;
    background: #098956;
}

/* Toggle Effects */
.opacity {
    opacity: 0.3;
}

.alt-background {
    background: #424242 !important; /* Found that marking as !important overrides other css to guarantee effect */
    color: #ffffff;
}

.italicized {
    font-style: italic;
}

/* Makes the circle shrink when hovering */
.circle {
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(0.7);
}